services:
  app:
      container_name: app
      build:
        context: ./app
        dockerfile: Dockerfile
      env_file:
        - ./app/.env
      ports:
        - "8000:8000"
      # Volúmenes para desarrollo: montar código y .env
      volumes:
        - ./app:/app  # Monta todo el código fuente
      # Permite al contenedor acceder al host usando host.docker.internal
      # Esto es necesario para conectarse a su RAG que corre en localhost:8000
      extra_hosts:
        - "host.docker.internal:host-gateway"
      restart: unless-stopped
      command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload", "--timeout-keep-alive", "300"]